

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
}

.nav-link {
  text-decoration: underline;
}

.page-content {
  padding: 20px 40px;
}

.page-title {
  max-width: 1400px;
}
 